@use '../../Scss-Sass/Helpers/' as *;

.cart {
    padding-block: rem(80) rem(140);

    &__wrapper,
    &__group,
    &__top,
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__wrapper,
    &__group {
        row-gap: rem(80);
    }

    &__top {
        row-gap: rem(24);
    }

    &__content {
        row-gap: rem(40);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include respond('max', $mobile-s) {
            flex-direction: column;
        }

        .button {
            max-width: rem(calculate(220));
            width: 100%;
            background-color: transparent;
            border: 1px solid var(--color-grey);
            color: var(--color-dark);

            @include respond('max', $laptop) {
                max-width: rem(220);
            }

            @include respond('max', $mobile-s) {
                max-width: none;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 1rem;

        @include respond('max', $tablet-s) {
            flex-direction: column;
            row-gap: rem(50);
        }
    }

    &__card {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            max-width: 40%;
            width: 100%;

            @include respond('max', $mobile) {
                display: contents;
            }
        }
    }
}