@font-face {
    font-family: 'Poppins';
    src: url(../../Assets/Fonts/Poppins-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../Assets/Fonts/Poppins-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../Assets/Fonts/Poppins-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}