@use '../../../Scss-Sass/Helpers/' as *;

.featured {
    &__card {
        background-color: var(--color-dark);
        color: var(--color-light);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
    }

    &__title {
        &:first-child {
            @include fluid-text(calculate(24), 20);
            font-weight: 700;
        }
        
        &:nth-child(2) {
            @include fluid-text(calculate(14), 15);
        }
        
        &:last-child {
            @include fluid-text(calculate(16), 16);
            font-weight: 700;
            text-decoration: underline;
        }
    }
}