@use '../../Scss-Sass/Helpers/' as *;

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: rem(90);

    @include respond('max', $mobile) {
        flex-direction: column;
        row-gap: rem(30);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);

        @include respond('max', $mobile) {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        column-gap: rem(20);
    }

    &__right {
        width: rem(20);
        height: rem(40);
        background-color: var(--color-red);
    }

    &__title {
        @include fluid-text(calculate(16), 20);
        font-weight: 700;
        color: var(--color-red);
    }

    &__description {
        @include fluid-text(calculate(36), 25);
        font-weight: 700;
    }
}