@use '../../Scss-Sass/Helpers/' as *;

.customers {
    padding-bottom: rem(140);

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(80);
    }

    &__group {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
    }
}

.swiper-pagination {
    bottom: rem(16) !important;
}

.custom-swiper {
    background-color: #000 !important;
    opacity: 0.5;
}

.custom-swiper-active {
    background-color: #DB4444 !important;
    opacity: 1;
    border: rem(1) solid white;
}