@use '../../../Scss-Sass/Helpers/' as *;

.signUp {

    &__text,
    &__content,
    &__sign {
        display: flex;
        flex-direction: column;
    }

    &__text {
        row-gap: rem(25);
        color: var(--color-dark);

        @include respond('max', $tablet) {
            text-align: center;
        }
    }

    &__content {
        row-gap: rem(50);
        width: 100%
    }

    &__title {
        @include fluid-text(calculate(36), 23);
        font-weight: 500px;
    }

    &__description,
    &__input {
        @include fluid-text(calculate(16), 18);
    }

    &__sign {
        row-gap: rem(40);
    }

    &__input {
        border-bottom: 1px solid var(--color-grey);

        &::placeholder {
            color: var(--color-grey);
        }
    }
}