@use '../../../Scss-Sass/Helpers/' as *;

.details {

    &__right,
    &__top,
    &__top-wrapper,
    &__bottom,
    &__bottom-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__right {
        row-gap: rem(48);
    }

    &__top,
    &__bottom-wrapper {
        row-gap: rem(24);
    }

    &__top {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: rem(-24);
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-grey);
        }

        &-wrapper {
            row-gap: rem(16);
        }

        &-title {
            @include fluid-text(calculate(24), 20);
            font-weight: 700;
        }

        &-score {
            display: flex;
            align-items: center;
            column-gap: rem(8);
        }

        &-description {
            color: var(--color-green);
            position: relative;
            margin-left: rem(32);

            &::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: var(--color-grey);
                top: 0;
                left: rem(-16);
            }
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        column-gap: rem(5)
    }

    &__reviews {
        @include fluid-text(calculate(14), 16);
        color: var(--color-grey);
    }

    &__price {
        @include fluid-text(calculate(24), 20);
    }

    &__description {
        @include fluid-text(calculate(13), 14);
    }
}