@use '../../Scss-Sass/Helpers/' as *;

.selling {
    padding-block: rem(140);

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: rem(60);
    }

    &__group {
        display: flex;
        justify-content: space-between;
        column-gap: rem(30);

        @include respond('max', $mobile) {
            flex-direction: column;
            row-gap: rem(50);
        }
    }

    .button {
        max-width: rem(calculate(160));
        width: 100%;

        @include respond('max', $laptop) {
            max-width: rem(160);
        }
    }
}