@use '../../Scss-Sass/Helpers/' as *;
.banner{

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: rem(40);
        padding-block: rem(16);
        padding-left: rem(65);
        background-color: var(--color-dark);
        color: var(--color-light);

        @include respond('max', $laptop-s) {
            flex-direction: column;
            row-gap: rem(20);
            padding-left: 0;
        }

        @include respond('max', $mobile) {
            margin-left: rem(50);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        padding-top: rem(35);

        @include respond('max', $laptop-s) {
            width: 100%;
            text-align: center;
            align-items: center;
        }

        &-content {
            display: flex;
            align-items: center;
            column-gap: rem(25);
        }

        &-image {
            @include respond('max', $mobile-s) {
                width: rem(30);
            }
        }
    }

    &__title,
    &__shopNow-title {
        @include fluid-text(calculate(22), 18)
    }

    &__subtitle {
        @include fluid-text(calculate(48), 40);
        font-weight: 500;

        @include respond('max', $mobile-s) {
            font-size: rem(25);
        }
    }

    &__shopNow {
        display: flex;
        align-items: center;
        column-gap: rem(10);

        &-title {
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
.swiper-pagination{
    bottom: 16px !important;
}
.swiper-pagination-bullet {
    background-color: white !important; /* active bullet color */
    opacity: 0.5;
    margin-bottom: 50px;
  }

.swiper-pagination-bullet-active {
    background-color: #DB4444 !important; /* inactive bullet color */
    opacity: 1;
    border: 1px solid white;
    
  }